/* * {
  outline: 1px dotted orange;
} */

nav, main > div:nth-child(2), main section {
  margin-right: auto;
  margin-left: auto;
}

main div:first-child, main > div:nth-child(2)  {
  margin-bottom: 30px;
}

main, main > div:nth-child(2), section > div > div {
  text-align: center;
}

nav, main > div:nth-child(2), main section {
  width: 960px;
}

header, footer {
  width: 100%;
  background-color: #666666;
  padding-top: 1em;
  padding-bottom: 1em;
}

header {
  margin-bottom: 30px;
}

header ul, header ul li {
  display: inline-block;
  list-style-type: none;
}

header ul li {
  margin-left: 5.4em;
}

header img {
  vertical-align: middle;
}

main {
  width: 100%;
}

main > div:nth-child(2) > img:first-child, section > div:first-child {
  float: left;
}

main > div:nth-child(2) > img:nth-child(2) {
  float: right;
}

section {
  text-align: left;
  margin-bottom: 30px;
}

section > div:first-child, section > div:nth-child(2) {
  display: inline-block;
}

section > div:first-child {
  margin-right: 30px;
}

section > div:nth-child(2) {
  width: 450px;
  height: 400px;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

section > div > div {
  width: 120px;
  background-color: #222222;
  color: white;
  padding: 0.5em;
  border: 2px solid #222222;
  border-radius: 10px;
  margin-top: 1em;
  transition: all 350ms ease-in-out;
}

section > div > div:hover {
  cursor: pointer;
  background-color: #999999;
  color: black;
  border: 2px solid #999999;
}

section > div:nth-child(2) > p {
  height: 301px;
  overflow: scroll;
}

footer {
  height: 200px;
}